mat-card {
  height: 500px;
}

img {
  height: 50%;
  object-fit: cover;
  border-bottom: 1px solid lightgrey;
}

mat-icon {
  font-size: xx-large;
  position: absolute;
  bottom: 12rem;
  right: 12rem;
}

mat-tooltip {
  font-size: 10px!important;
}
