$grid-gap: 40rem;

.country-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row: auto;
  column-gap: $grid-gap;
  row-gap: $grid-gap;
  padding: $grid-gap 0;
}
