<mat-toolbar *ngIf="headerFacade.vm$ | async as vm" color="primary">
  <mat-toolbar-row>
    <header>
      <a routerLink="/" class="mat-headline">Where in the world?</a>
      <div>
        <mat-icon [inline]="true" aria-hidden="false" aria-label="light mode"
          >light_mode</mat-icon
        >
        <mat-slide-toggle #themeToggle [formControl]="themeControl"></mat-slide-toggle>
        <mat-icon [inline]="true" aria-hidden="false" aria-label="dark mode"
          >dark_mode</mat-icon
        >
      </div>
    </header>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav>
      <a
        routerLink="/countries"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Countries</a
      >
      <a routerLink="/country-visits" routerLinkActive="active-link"
        >Country Visits</a
      >
      <a routerLink="/wish-list" routerLinkActive="active-link"
        ><mat-icon
          [matBadge]="vm.wishListCount"
          [matBadgeHidden]="vm.wishListCount === 0"
          matBadgeColor="warn"
          aria-hidden="false"
          aria-label="favorite"
          >{{ vm.wishListCount > 0 ? "favorite" : "favorite_border" }}</mat-icon
        ></a
      >
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
