<main
  class="country-details-grid"
  *ngIf="countryDetailFacade.country$ | async as country"
>
  <img class="flag" [src]="country.flagUrl" alt="{{ country.name }} flag" />
  <div class="overview">
    <h1 class="mat-headline">{{ country.name }}</h1>
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><b class="mat-body-2">Native Name</b>:
        <span class="mat-body-1">{{ country.nativeName }}</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><b class="mat-body-2">Population</b>:
        <span class="mat-body-1">{{ country.population }}</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><b class="mat-body-2">Region</b>:
        <span class="mat-body-1">{{ country.region }}</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><b class="mat-body-2">Sub Region</b>:
        <span class="mat-body-1">{{ country.subRegion }}</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><b class="mat-body-2">Capital</b>:
        <span class="mat-body-1">{{ country.capital }}</span></mat-list-item
      >
    </mat-list>
  </div>
  <div class="lang-money">
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><b class="mat-body-2">Languages</b>:
        <span class="mat-body-1">{{
          country.languageNames.join(", ")
        }}</span></mat-list-item
      >
      <mat-list-item role="listitem">
        <b class="mat-body-2">Currencies</b>:
        <span class="mat-body-1"
          >{{ country.currencyNamesAndSymbols.join(", ") }}
        </span></mat-list-item
      >
    </mat-list>
  </div>
  <div class="codes">
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><b class="mat-body-2">Calling Code</b>:
        <span class="mat-body-1">{{ country.callingCode }}</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><b class="mat-body-2">ISO 3166-1 alpha-3 Code</b>:
        <span class="mat-body-1">{{ country.alpha3Code }}</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><b class="mat-body-2">Top Level Domain</b>:
        <span class="mat-body-1">{{
          country.topLevelDomain
        }}</span></mat-list-item
      >
    </mat-list>
  </div>
  <div class="borders">
    <p><b class="mat-body-2 bordering-countries">Bordering Countries</b></p>
    <mat-list role="list">
      <mat-list-item
        role="listitem"
        *ngFor="let borderingCountry of country.borderingCountries"
      >
        <a routerLink="/countries/{{ borderingCountry.name | hyphenateUri }}">
          <img
            [src]="borderingCountry.flagUrl"
            alt="{{ borderingCountry.name }} flag"
          />
          <span class="mat-body-1">{{ borderingCountry.name }}</span>
        </a>
      </mat-list-item>
    </mat-list>
  </div>
</main>
