$grid-gap: 40rem;

input[type="text"] {
  padding: 9rem 0 9rem 9rem;
  width: 400rem;
  border: solid 1px var(--color-dull);
  background-color: var(--theme);

  &::placeholder,
  &:focus {
    color: var(--color-primary);
  }

  @media only screen and (max-width: 700px) {
    width: 100%;
    margin-bottom: $grid-gap;
  }
}

fa-icon {
  position: absolute;
  padding: 10rem;
  color: var(--color-primary);
}

.search-country {
  text-indent: $grid-gap;
}
