/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

html {
  font-size: 1px;
}

body {
  font-size: 16rem;
}

a {
  text-decoration: none;
  color: #fff;
}

button:hover,
a:hover {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// https://pretagteam.com/question/remove-padding-between-the-list-item-in-angular-material
/* Top padding of <mat-list> */
.mat-list-base {
  padding-top: 0 !important;
}

/* Padding of each <mat-list-item> */
.mat-list-item-content {
  padding: 0 !important;
}

mat-list-item span {
  padding-left: 5rem;
}

