/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

html {
  font-size: 1px;
}

.theme-light {
  --primary: #2577c1;
  --secondary-bg: #fff;
  --color-primary: #000;
  --color-dull: #ddd;
  --theme: #fff;
}

.theme-dark {
  --primary: #424242;
  --secondary-bg: #424242;
  --color-primary: #fff;
  --color-dull: #696969;
  --theme: #424242;
}

body {
  font-size: 16rem;

  color: var(--color-primary);
  background-color: var(--secondary-bg);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

button:hover,
a:hover {
  cursor: pointer;
}
