/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

html {
  font-size: 1px;
}

body {
  font-size: 16rem;
}

// Go with this dark-grey that looks reasonable for both light and dark themes
// as a 'semi-hack'. With more time follow the excellent guide here so that
// non-material elements can be styled:
// https://tomastrajan.medium.com/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// The associated Github repository contains excellent material:
// https://github.com/tomastrajan/angular-ngrx-material-starter
a {
  text-decoration: none;
  color: #a9a9a9;
}

button:hover,
a:hover {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// https://pretagteam.com/question/remove-padding-between-the-list-item-in-angular-material
/* Top padding of <mat-list> */
.mat-list-base {
  padding-top: 0 !important;
}

/* Padding of each <mat-list-item> */
.mat-list-item-content {
  padding: 0 !important;
}

mat-list-item span {
  padding-left: 5rem;
}

